@font-face {
  font-family: "TypestarNormal";
  src: url('./Typestar-Normal.otf');
  font-weight: normal;
  font-style: normal;    
}

@font-face {
  font-family: "TypestarBlack";
  src: url('Typestar Black Regular.otf');
  font-weight: normal;
  font-style: normal;
}
